/* src/app/signup/Signup.module.css */

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #467061;
}

.title {
  text-align: center;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #666;
}

.input {
  padding: 8px;
  border: 1px solid #585858;
  border-radius: 4px;
}

.button {
  padding: 10px;
  margin-top: 20px;
  background-color: #467061;
  color: #467061;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #467061;
}

#signup-form {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
