/* Header.css */

.navbar {
    width: 100%;
    height: 100px;
    background-color: green;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #021945;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 16px; /* Updated font size */
    white-space: nowrap;
  }
  
  .navbar a:hover {
    color: #8eb15c;
  }
  
  @media only screen and (max-width: 600px) {
    .navbar .links {
      display: flex;
    }
  }
  