/* components/Header.module.css */

.header {
  background-color: #467061;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  /* Center the navigation links */
  gap: 1rem;
  /* Add space between each link */
}

.LeafLog {
  font-size: 30px;
  margin-left: 45%;
  margin-right: 50%;
  align-items: center;
}

.navLink {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  /* Adjust margins to control spacing */
  font-weight: 500;
  /* Make the font a bit bolder */
  transition: color 0.3s ease;
  /* Smooth transition for hover effect */
}

.navLink:hover {
  color: #f8b195;
  /* Lighter color for hover effect */
}

/* Utilize Flexbox for even spacing and alignment */

.navContainer {
  display: flex;
  align-items: center;
}
