@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  overflow-x: hidden;
  /* Prevent horizontal scrolling on mobile */
}

.top-level {
  background: linear-gradient(135deg, #467061 0%, #5a897a 100%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  margin: 2px auto;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.top-level::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  /* margin-top: 105px; */
  background: url("../img/fern-pattern.png");
  background-repeat: repeat;
  /* This will repeat your pattern */
  background-size: auto;
  /* Keeps the image at its natural size */
  background-position: center;
  opacity: 0.08;
  z-index: -1;
}

.submittedBox {
  background-color: #fff;
  /* White background */
  border-radius: 0.5rem;
  /* Rounded corners */
  box-shadow: 2px 4px 6px -1px rgba(0, 0, 0, 0.6),
    0 2px 4px -1px rgba(0, 0, 0, 0.6);
  /* Soft shadow */
  padding: 2rem;
  /* Spacing inside the box */
  margin: 1rem;
  /* Spacing outside the box */
  max-width: 2xl;
  /* Maximum width of the box */
}
