body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  overflow-x: hidden;
  /* Prevent horizontal scrolling on mobile */
}

.home {
  background-color: white;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.top-level {
  background: linear-gradient(135deg, #467061 0%, #5a897a 100%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-size: cover;
  /* Ensure the background image covers the entire element */
  background-position: center;
  /* Center the background image */
  width: 100%;
  /* Adjust the width for better responsiveness */
  height: 700px;
  margin: 2px auto;
  /* Center the element */
  margin-bottom: 50px;
  text-align: center;
  /* Center text inside the element */
  padding: 20px;
  /* Add padding for better appearance */
  box-sizing: border-box;
  /* Include padding and border in the total width */
  color: #fff;
  position: relative;
}

.top-level h1 {
  transition: color 0.3s ease;
}

.top-level h1:hover {
  color: #e6f1f3;
}

/* Add before the content starts */

.top-level::before {
  content: "";
  display: block;
  position: fixed;
  top: 105px;
  left: 0;
  right: 0;
  bottom: 0;
  /* margin-top: 105px; */
  background: url("./img/fern-pattern.png");
  background-repeat: repeat;
  /* This will repeat your pattern */
  background-size: auto;
  /* Keeps the image at its natural size */
  background-position: center;
  opacity: 0.08;
}

@media only screen and (max-width: 800px) {
  .top-level {
    width: 100%;
    /* Adjust the width for mobile devices */
  }
}

.content {
  width: 100%;
  margin: 0;
  padding: 0;
}

.about {
  display: flex;
  justify-content: center;
}

.about-content {
  width: 70%;
  max-width: 1200px;
}

.column-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  width: 48%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #aaa;
}

@media only screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}

.summary h1 {
  color: #021945;
  margin-top: 100px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.summary-container {
  padding: 2px;
}

.professional-summary {
  padding: 20px;
  border-radius: 8px;
  font-size: 16px;
  text-align: justify;
}

.professional-summary p {
  font-size: 16px;
  color: #333333;
  margin-top: 10px;
}

@media only screen and (max-width: 800px) {
  .professional-summary {
    text-align: center;
  }
  .professional-summary p {
    font-size: 16px;
  }
}

.summary-box {
  margin: 20px 0;
  padding: 30px;
  font-size: 18px;
  line-height: 1.2;
  /* Adjusted line-height for closer text */
}

.summary-box p {
  font-size: 18px;
  line-height: 1.2;
  /* Adjusted line-height for closer text */
  margin-top: 10px;
}

.summary-box p.summary-text {
  font-size: 100px;
  line-height: 1.2;
  /* Adjusted line-height for closer text */
  margin-top: 100px;
  color: white;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-align: justify;
}

.role {
  font-size: 45px;
  color: #021945;
  margin-top: 10px;
}

@media only screen and (max-width: 800px) {
  .summary-box p.summary-text {
    font-size: 27px;
    margin-top: 10px;
    padding: 12px;
  }
  .role {
    font-size: 22px;
    /* Allow the text to wrap onto the next line */
    white-space: normal;
  }
}

@keyframes typingAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rectangle-image-container {
  text-align: center;
  margin-bottom: 100px;
}

.rectangle-image {
  width: 30%;
  max-width: 100%;
  margin-top: 100px;
  height: 30%;
  display: inline-block;
  border-radius: 50%;
}

@media only screen and (max-width: 800px) {
  .rectangle-image {
    width: 80%;
    margin-top: 50px;
  }
}

.skills-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-box {
  width: 100vw;
  /* Set width to 100% of the viewport width */
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 40px;
  border-color: #021945;
  border-width: 2px;
  /* Adjust the thickness of the border as needed */
  border-style: solid;
  /* Add this line to define the border style */
  text-align: left;
}

.skills h1 {
  color: #021945;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.skills-container ul {
  list-style-type: none;
  font-size: 16px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-container ul li {
  margin-bottom: 10px;
  text-align: left;
  flex: 0 0 30%;
}

@media only screen and (max-width: 800px) {
  .skills-box {
    width: 100%;
  }
  .skills-container ul li {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

.achievements-container {
  text-align: center;
  box-sizing: border-box;
  /* padding: 10px; */
  border-color: #021945;
  border-width: 2px;
  border-style: solid;
}

.achievements-box {
  padding: 20px;
  font-size: 18px;
  line-height: 1.6;
}

.achievements-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.achievements-box ul li {
  margin-bottom: 10px;
  text-align: center;
}

.bento-box-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  /* 3 columns with equal width */
  gap: 20px;
  /* Adjust the gap between grid items */
  padding: 20px;
  /* Add padding to the grid */
}

.bento-box-item {
  position: relative;
  /* Ensure the position of the container is relative */
  background-color: #fff;
  /* Set background color */
  border: 1px solid #ccc;
  /* Add border */
  border-radius: 8px;
  /* Add border radius for rounded corners */
  overflow: hidden;
  /* Ensure content inside doesn't overflow */
}

.bento-box-image {
  max-width: 100%;
  /* Ensures the image doesn't exceed the width of its container */
  max-height: 100%;
  /* Ensures the image doesn't exceed the height of its container */
  display: block;
  /* Ensures the image doesn't create any whitespace beneath it */
  margin: 0 auto;
  /* Centers the image horizontally */
}

.bento-box-item-content {
  padding: 20px;
  /* Add padding to the content */
}

@media only screen and (max-width: 800px) {
  .bento-box-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    /* Change to single column for smaller screens */
  }
}

/* mobile view */

.max-w-lg {
  max-width: 32rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-left {
  text-align: left;
}

.md\\:max-w-none {
  max-width: none;
}

.md\\:text-center {
  text-align: center;
}

.sm\\:mx-72 {
  margin-left: 18rem;
}

.sm\\:mt-20 {
  margin-top: 5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.sm\\:max-w-xl {
  max-width: 36rem;
}

.md\\:max-w-full {
  max-width: 100%;
}

.lg\\:max-w-screen-xl {
  max-width: 1280px;
}

.md\\:px-24 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.lg\\:px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.border {
  border-width: 1px;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.sm\\:rounded-0 {
  border-radius: 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.lg\\:flex-row {
  flex-direction: row;
}

.hidden {
  display: none;
}

.text-xl {
  font-size: 1.25rem;
}

.font-semibold {
  font-weight: 600;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.max-w-lg {
  max-width: 32rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.text-base {
  font-size: 1rem;
}

.md\\:text-lg {
  font-size: 1.125rem;
}

.text-sky-600 {
  color: #3b82f6;
}

.mt-4 {
  margin-top: 1rem;
}

.bg-neutral-200 {
  background-color: #e5e7eb;
}

.text-lg {
  font-size: 1.125rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1-5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.sm\\:mt-0 {
  margin-top: 0;
}

.pt-0 {
  padding-top: 0;
}

.pt-5 {
  padding-top: 1.25rem;
}

.hidden {
  display: none;
}

.sm\\:block {
  display: block;
}

.space-x-3 > :not(template) ~ :not(template) {
  --space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--space-x-reverse));
  margin-left: calc(0.75rem * (1 - var(--space-x-reverse)));
}

.sm\\:block {
  display: block;
}

.space-x-3 > :not(template) ~ :not(template) {
  --space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--space-x-reverse));
  margin-left: calc(0.75rem * (1 - var(--space-x-reverse)));
}
